<ion-header>
    <ion-toolbar color="medium">
        <ion-title>TeLlevoAPP</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="/assets/img/autoduoc.png" class="logoauto">
    <ion-card class="cardprincipal">
        <ion-card-content>
            <ion-item lines="full">
                <ion-label position="stacked">Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="credentials.username"></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-button (click)="rcontrasena()" color="dark" expand="block">Recuperar</ion-button>
            <ion-button expand="block" color="dark" (click)="volver()">Volver</ion-button>

        </ion-card-content>

    </ion-card>
</ion-content>