.h1 {
    text-align: center;
}

.itemcenter {
    text-align: center;
}

.dest {
    text-align: center;
    text-decoration: solid;
    margin-top: 20px;
}

.top {
    margin-top: 10%;
}

.nombre {
    text-align: center;
}

.logoauto {
    width: 80%;
    padding-left: 65px;
    margin-top: 15%;
}